/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/07/2019, 22:07:01
    Author     : Christian Guerrero
*/

AnchorPane{
    -fx-background-color: white;

}
TextField
{
    -fx-background-radius: 12;


}
Button{
    -fx-background-radius: 10;
    -fx-background-color: #417E80 ;
}

Button:hover {
    -fx-background-color: #417E80;
}
textArea{
    -fx-background-radius: 12;
}

Button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
  -fx-background-radius: 10;

}

Button:focused {
    -fx-border-color: #417E80, #417E80;
    -fx-border-width: 1, 1;
    -fx-border-style: solid ,segments(1, 1);
    -fx-border-radius: 10, 10;
    -fx-border-insets: 1 1 1 1, 0;
}

Button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

Button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

Button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
PasswordField{
    -fx-background-radius: 12;
}
ToggleButton{
    -fx-background-radius: 12;
    -fx-background-color: #417E80 ;

}
.table-view {
    /* Constants used throughout the tableview. */
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/

}
.table-view, .table-view:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
}
 
.table-view .column-header .label{
    -fx-text-fill: #52677A;
    -fx-alignment: CENTER;
}

.table-view .column-header:hover {
    -fx-background-color: whitesmoke;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: white;    
    -fx-size: 45;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: 0;
}
.table-row-cell:empty{
    -fx-background-color: white;
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

/*I hope this will work for you. Make some changes according your need*/

.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 3 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
   /* -fx-padding: 2 0 2 2;*/

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";*/
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

